@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>
<p>
    Veulliez verifier vos emails afin de reinitialiser votre mots de passe
</p>

