@page
@model LogoutModel
@{
    ViewData["Title"] = "Deconnection";
}

    <header>
        <h1>@ViewData["Title"]</h1>


        <section id="enregistrement">
            <div class="container heading">
                <p>Vous êtes déconnecté avec succès.</p>
            </div>
            <div class="divider"></div>
        </section>
        
    </header>