@{
    ViewData["Title"] = "Privacy Policy";
}

<section id=" ml">
    <div class="container-fluid">
        <div class="container heading">
            <h4>Mentions Légales</h4>
        </div>
        <div class="divider"></div>
    </div>
</section>



<h5> 1. INFORMATIONS LÉGALES</h5>
<br />
<p>
    Chicken ‘Yls
    La churrasqueira
    35 Avenue de Toulouse
    34070 Montpellier
    Siret :
</p>
<br />
<h6>Mail:</h6>
<br />
<h6>Téléphone:</h6>
<br />

<p>    Les directeurs de la publication du site internet sont Sandrine…. et Adel en qualité de gérants du Restaurant Chicken ‘Yls.</p>

<p>
    Conformément à la loi « Informatique et Libertés » du 6 janvier 1978, le présent site a fait l’objet d’une déclaration à la CNIL – en date du …. – récépissé de déclaration n°…
    La société s’engage à protéger et à ne pas divulguer à des tiers les données personnelles fournies par les utilisateurs du site Chickenyls.com.
</p>

<br />
<h6>Hébergeur : 1&1</h6> A remplacer par ton hebergeur

<p>
    Forme juridique : SARL au capital de 100 000,00 €
    Siège social : 1&1 Internet Sarl 7, rue place de la Gare BP 70109 57201 Sarreguemines Cedex
</p>
<br />
<h5>2. PROPRIÉTÉ INTELLECTUELLE</h5>
       <p> Tout ce qui compose la structure du site internet https://www.chickenyls.com/ ainsi que les logiciels, textes, images animées ou non, et tous les autres éléments le composant sont la propriété exclusive du Restaurant chicken’Yls<br />

        Toute représentation totale ou partielle de la structure de ce site, de sa charte graphique ou de son contenu  est formellement interdite sauf sur accord préalable ainsi que définis par  les articles L. 335-2 et suivants du Code de la propriété intellectuelle qui définit la contrefaçon comme un délit, et prévoit jusqu’à trois ans d’emprisonnement et 300 000 euros d’amende.
    </p>
       <br />
<h5> 3. LIMITATION DE RESPONSABILITÉ</h5>


        Ce site ne saurait être tenu pour responsable des erreurs rencontrées sur le site, problèmes techniques, interprétation des informations publiées et conséquences de leur utilisation.

        L’utilisateur reconnaît donc :
        – avoir pris connaissance des présentes conditions d’utilisation et s’engage à les respecter.
        – utiliser ces informations sous sa responsabilité exclusive.
        – reconnaît disposer de la compétence et des moyens nécessaires pour accéder et utiliser ce site.

