
@{
    ViewData["Title"] = "Réseau";
}

    <section id="numero">
        <div class="container heading">
            <h4>Numero utiles</h4>
        </div>
        <div class="divider"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">SAMU Social</div>
                        <div class="card-body text-center">
                            <p class="card-text">115</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Pharmacie de Garde</div>
                        <div class="card-body text-center">
                            <p class="card-text">115</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">SOS Médecins</div>
                        <div class="card-body text-center">
                            <p class="card-text">972: 05 96 63 33 33</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Enfant disparu</div>
                        <div class="card-body text-center">
                            <p class="card-text">0810 012 014</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Enfant en danger</div>
                        <div class="card-body text-center">
                            <p class="card-text">119</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Enfant en danger</div>
                        <div class="card-body text-center">
                            <p class="card-text">119</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Alcooliques A</div>
                        <div class="card-body text-center">
                            <p class="card-text">01 40 99 78 70</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">A. diabétiques</div>
                        <div class="card-body text-center">
                            <p class="card-text">01 40 09 24 25</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Asthme et allergies</div>
                        <div class="card-body text-center">
                            <p class="card-text">01 47 55 03 56</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Cancer info service</div>
                        <div class="card-body text-center">
                            <p class="card-text">0810 810 821</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Croix-rouge </div>
                        <div class="card-body text-center">
                            <p class="card-text">0800 858 858</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Dons organes</div>
                        <div class="card-body text-center">
                            <p class="card-text">0800 20 22 24</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Drogues infos </div>
                        <div class="card-body text-center">
                            <p class="card-text">0800 23 13 13</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Écoute alcool</div>
                        <div class="card-body text-center">
                            <p class="card-text">0811 91 30 30</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Personnes battues</div>
                        <div class="card-body text-center">
                            <p class="card-text">01 47 55 03 56</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">SIDA infos service</div>
                        <div class="card-body text-center">
                            <p class="card-text">0810 810 821</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">Tabac info service</div>
                        <div class="card-body text-center">
                            <p class="card-text">0800 858 858</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="card border-success m-2" style="width: 12rem;">
                        <div class="card-header">France Alzheimer</div>
                        <div class="card-body text-center">
                            <p class="card-text">0800 20 22 24</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


