
    <section id="services">
        <div class="container heading">
            <h4>Nos services</h4>
        </div>
        <div class="divider"></div>


        <div class="container ">
            <div class="row align-items-center ">
                <div class="col-lg-3 col-md-12"></div>
                <div class="col-lg-6 col-md-12">
                    <div class="holderCircle">
                        <div class="round"></div>
                        <div class="dotCircle">
                            <span class="itemDot active itemDot1" data-tab="1">
                                <i class="fas fa-notes-medical"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot2" data-tab="2">
                                <i class="fas fa-baby"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot3" data-tab="3">
                                <i class="fas fa-plus-square"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot4" data-tab="4">
                                <i class="fas fa-capsules"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot5" data-tab="5">
                                <i class="fas fa-hand-holding-medical"></i>
                                <span class="forActive"></span>
                            </span>
                            <span class="itemDot itemDot6" data-tab="6">
                                <i class="fas fa-syringe"></i>
                                <span class="forActive"></span>
                            </span>
                        </div>
                        <div class="contentCircle">
                            <div class="CirItem title-box active CirItem1">
                                <h2 class="title"><span>Pharmacie</span></h2>
                                <p>Préparation d'ordonnance, préparation magistrale, livraison, drive, PDA</p>
                                <i class="fas fa-notes-medical"></i>
                            </div>
                            <div class="CirItem title-box CirItem2">
                                <h2 class="title"><span>Parapharmacie </span></h2>
                                <p>Univers Bébé | Dermosmetique | Sexologie/sexualité | Hygiène</p>
                                <i class="fas fa-baby"></i>
                            </div>
                            <div class="CirItem title-box CirItem3">
                                <h2 class="title"><span>Accompagnement Thérapeutique</span></h2>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                <i class="fas fa-hand-holding-medical"></i>
                            </div>
                            <div class="CirItem title-box CirItem4">
                                <h2 class="title"><span>Homeophatie</span></h2>
                                <p>.</p>
                                <i class="fas fa-capsules"></i>
                            </div>
                            <div class="CirItem title-box CirItem5">
                                <h2 class="title"><span>cyclamed</span></h2>
                                <p>Nous récupérons vos médicaments non utilisés.</p>
                                <i class="fas fa-hand-holding-medical"></i>
                            </div>
                            <div class="CirItem title-box CirItem6">
                                <h2 class="title"><span>Vaccination</span></h2>
                                <p>le but de stimuler le système immunitaire d'un organisme vivant afin d'y développer une immunité adaptative contre un agent infectieux.</p>
                                <i class="fas fa-syringe"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12"></div>
            </div>
        </div>

        <div class="card-deck text-center">
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">MAD</h5>
                    <p class="card-text">Location | Vente </p>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">Orthopedie</h5>
                    <p class="card-text">Sur mesure <br /> Standard</p>
                </div>
            </div>
            <div class="card">
                
                <div class="card-body">
                    <h5 class="card-title">Phytothérapie/Aromathérapie</h5>
                    <p class="card-text">La phytothérapie désigne tous les produits à base de plantes ou de substances d’origine végétale destinés à prévenir et à traiter certains troubles fonctionnels ou états pathologiques.</p>
                </div>
            </div>
        </div>
    </section>



