@model PharmacieDeLaCharmeuse.Core.Data.Models.CategorieProduit

@{
    ViewData["Title"] = "CreerCategorie";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Creer une Categorie</h1>

<h4>CategorieProduit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreerCategorie">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomCategorieProduit" class="control-label"></label>
                <input asp-for="NomCategorieProduit" class="form-control" />
                <span asp-validation-for="NomCategorieProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionCategorieProduit" class="control-label"></label>
                <input asp-for="DescriptionCategorieProduit" class="form-control" />
                <span asp-validation-for="DescriptionCategorieProduit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Creer" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour a la liste</a>
</div>

